<div class="video">
  <picture class="video__image">
    <img src="assets/images/video/live1.webp" alt="Video" />
  </picture>
  <div class="video__body">
    <div class="video__channel">
      <picture><img src="assets/images/angular.svg" alt="Angular" /></picture>
    </div>
    <div class="video__description">
      <h3 class="video__name">Angular new project</h3>

      <span class="video__autor">Angular</span>
      <span class="video__metadata">10k views • 11 hours ago</span>
    </div>
  </div>
</div>
